@(home: String, name: String)

@main("Arckane "+name) {

  <link rel="import" href="@routes.Assets.versioned("components/arckane-user-page/arckane-user-page.html")">

  <arckane-user-page username="@name" data='{"userSkillbooks": [
    {"name": "The Great Book of All Knowledge", "url": "/skillbook/great", "content": "Every skill in the world in one place!"},
    {"name": "Some Skillbook", "url": "/skillbook/01", "content": "Some description of a skillbook..."},
    {"name": "Some Skillbook", "url": "/skillbook/01", "content": "Some description of a skillbook..."},
    {"name": "Some Skillbook", "url": "/skillbook/01", "content": "Some description of a skillbook..."},
    {"name": "Some Skillbook", "url": "/skillbook/01", "content": "Some description of a skillbook..."}
  ]}'></arckane-user-page>

}
